In [57]:
#Пример базового подключения к локальной бд с указанием схемы
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
engine = create_engine("postgresql://postgres:postgres@localhost:5432/demo?options=-csearch_path=bookings")

In [59]:
airports = pd.read_sql(
    """
    SELECT * FROM airports;
    """
    ,
    con=engine
)
airports

,airport_code,airport_name,city,longitude,latitude,timezone
0,MJZ,Мирный,Мирный,114.038928,62.534689,Asia/Yakutsk
1,NBC,Бегишево,Нижнекамск,52.060000,55.340000,Europe/Moscow
2,NOZ,Спиченково,Новокузнецк,86.877200,53.811400,Asia/Novokuznetsk
3,NAL,Нальчик,Нальчик,43.636600,43.512900,Europe/Moscow
4,OGZ,Беслан,Владикавказ,44.606600,43.205100,Europe/Moscow
...,...,...,...,...,...,...
99,NSK,Норильск,Норильск,87.332183,69.311053,Asia/Krasnoyarsk
100,TJM,Рощино,Тюмень,65.324300,57.189567,Asia/Yekaterinburg
101,NUX,Новый Уренгой,Новый Уренгой,76.313938,66.041811,Asia/Yekaterinburg
102,NOJ,Ноябрьск,Ноябрьск,75.162243,63.110079,Asia/Yekaterinburg
103,PKV,Псков,Псков,28.395614,57.783917,Europe/Moscow

ProgrammingError: (psycopg2.errors.UndefinedTable) ОШИБКА:  отношение "public.airports" не существует

[SQL:
GRANT SELECT ON TABLE public.airports TO postgres;
    ]
(Background on this error at: https://sqlalche.me/e/14/f405)