In [13]:
#Pandas 
"""
import pandas as pd #импортирование библиотеки и присво
pd.read_csv()#команда на чтение файл CSV
"""
import pandas as pd

data = pd.Series(["Январь","Февраль","Март","Апрель"]) #Если не указывать индекс в нем будут порядковые номера начиная с 0
display(data)

import pandas as pd

data = pd.Series(["Январь","Февраль","Март","Апрель"],index = ["Первый","Второй","Третий","Четвертый"]) 
display(data)

0     Январь
1    Февраль
2       Март
3     Апрель
dtype: object

Первый        Январь
Второй       Февраль
Третий          Март
Четвертый     Апрель
dtype: object

In [17]:
#доступ к элементам Serias через 2 функции loc и iloc
data.loc["Первый"]

'Январь'

In [21]:
data.loc[["Первый", "Третий"]]

Первый    Январь
Третий      Март
dtype: object

In [29]:
data["Первый"]
data[["Первый", "Третий"]]

Первый    Январь
Третий      Март
dtype: object

In [31]:
data.iloc[0]

'Январь'

In [33]:
data.iloc[[0,2]]

Первый    Январь
Третий      Март
dtype: object

In [41]:
#ОШИБКА
#data.iloc[[0,6]]

In [55]:
"""
Объект DataFrame лучше всего объяснять на примере обычной таблицы. 
В таблице есть строки и столбцы. 
Столбцами в объекте DataFrame выступают объекты Series, а их элементы будут строками.
"""
import pandas as pd

df = pd.DataFrame({"col1":[1,2], "col2":[3,4]})
display(df)

   col1  col2
0     1     3
1     2     4

In [59]:
df = pd.DataFrame([[1,2,3],[2,3,4]],
                  columns = ['foo','bar', 'baz'],
                  index = ['foobar', 'foobaz'])
display(df)

        foo  bar  baz
foobar    1    2    3
foobaz    2    3    4

In [61]:
data = pd.Series(list(range(10, 1001)))
print(data.loc[10] + data.loc[23] - data.loc[245] + data.iloc[122])

-70

In [63]:
( data = pd.Series(list(range(10, 1001))) )

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2312280359.py, line 1)

In [67]:
 data = pd.Series(list(range(10, 1001))) 
 print(data)

0        10
1        11
2        12
3        13
4        14
       ...
986     996
987     997
988     998
989     999
990    1000
Length: 991, dtype: int64